# GEMINI_API_KEY=

# TAVILY_API_KEY=

# MODEL_NAME=gemini-2.5-flash-lite

# EMBEDDING_MODEL=models/gemini-embedding-001

# DB_TYPE=sqlite

# SQLITE_DB=database/rag_tables.db

# CHROMA_TEMP_DIR=temp/chroma

# SESSION_TIMEOUT=600

# CHUNK_SIZE=700

# CHUNK_OVERLAP=150

# REDIS_HOST=localhost

# REDIS_PORT=6379

#REDIS_PASSWORD=""

# REDIS_DB=0