fastapi
uvicorn
python-multipart

truststore
python-dotenv

google-genai

langchain
langchain-core
langchain-chroma
langchain-google-genai
langchain-text-splitters

chromadb

tavily-python

pandas
openpyxl
xlrd

pypdf
python-docx

pydantic